h1{
    color :brown;
}

p, li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: circle;
}

li.special{
    font-weight: bolder;
    background-color: bisque;
}

/*Descendant combinator*/
li em{
    font-family: 'Courier New', Courier, monospace;
    background-color: crimson;
    color:aliceblue;
}

/*adjacent combinator*/
h1 + p{
    font-weight: 600;
}


/*Styling Links */

a:link{
    color:cadetblue;

}

a:hover{
    text-decoration: none;
    color: rgb(128, 106, 59);
}

/* Cascading & Specificity  */

section p{
    color:red;
    font-weight: 600;
}

.specificityClass{
    color:rgb(211, 84, 84);
}

#specificityID{
    color:rgb(30, 105, 210);
}


section p{
    color:aquamarine;
    border: 1px;
}





