*{
    box-sizing: border-box;
}


/* START      --      HEADER */
#pageHeader{
    border: 2px solid yellow;
    display: flex;
    justify-content: end;
    align-items: center;
}

#pageHeader h1{
    flex: 2 70%;
    text-align: center;
}

.nav-toggler{
    flex: 1;
    padding-inline: 10px;
    margin-inline: 8px;
    border: 1px solid brown;
    background: none;
}

.nav-toggler span{
    /* width:0; */
    display: inline-block;
    padding:10%;
    background-color: antiquewhite;
}

/* END      --      HEADER */




/* Start    --      Navigation */

#pageNavBar{
    border: 2px solid pink; 
}

#pageNavBar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin:0;

    & li{
        padding:1%;
        border: 1px solid red;
    }
}
/* END      --      Navigation */


/* START      --      Navigation */

#mainContent{
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.pageContent{
    border: 2px solid rgb(118, 118, 210);
}

.blogStyle{
    border:2px solid brown;
    width:70%;
    margin-inline: auto;
    margin-block-start: 1rem;
}
.blogStyle img{
    float: left;
    margin-inline-end: 1rem;
}
/* #mainContent{
    border: 2px solid black;
    display:flex;

    & .pageContent{
        flex:3 400px;
    }
}

.displayListOfIcons{
    flex:1 100px;
    align-self: center;
    height: 100vh;
}

.pageContent{
    border: 1px solid rgb(89, 89, 194);
} */



/* END      --      Main Content */


/* START      --      FOOTER */
#pageFooter{
    border: 2px solid maroon;
    & h2{
        width: 80%;
        border:2px solid green;
        margin-inline: auto;
        text-align: center;
        padding: 2%;
    }
}
/* END      --      FOOTER */