/* unlayer style which is placed at the end of the layers and always takes the precedence. */

/* Layer precedance in this css --> Anonymous-1 , first-layer, second-layer, Anonymous-2 */
body {
    background-color: rgb(116, 92, 61);
}

@layer {
    body {
        background-color: burlywood;
    }

    h1{
        color: white;
    }
}

@layer firstLayer, secondLayer;

/*
    It does not appends the style in previous anonymous layer but creates a new anonymous layer.
*/
@layer {
    body {
        background-color: bisque;
    }

    h1{
        color: whitesmoke;
    }
}

@layer firstLayer {

    #layers_in_action > p {
        color: brown;
    }

    h1{
        color: red;
    }
}

@layer secondLayer {

    p {
        color: rgb(203, 187, 129);
    }

    #layers_in_action>p {
        color: yellow;
    }

}

@layer firstLayer {

    #layers_in_action > p {
        color: rgb(117, 75, 75);
        border: 2px solid black;
    }
}