.invalidSelector p, ..invalidSelector em{
    color: green;
}

#typesClassId ul{
    color:rgb(138, 149, 64);
    font-weight: 500;
}

.classType{
    color:blue;
    font-style: oblique;
}

/* Selecting Elements having class attribute inside the 'attributeSelectors' section. */
#attributeSelectors [class]{

    background-color: yellow;

}

#pseudoClass:hover{
    color:bisque;
    background-color: rgb(56, 52, 52);
}

#pseudoElement::first-letter{
    color:rgb(149, 255, 0);
    font-size: xx-large;
}



/* ########################### */

.blackBorder.blueFont.italics{
    border: 1px solid black;
    color: blue;
    font-style: italic;
}

/* ########################### */
 


